header{
    
}

body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSUHZaMvjptXigoQz-01THzln0a3Xx8y5GnkWw5vaRVA&s=10') ;
  background-repeat: no-repeat;   /* não repete a imagem */
  background-size: cover;         /* cobre toda a tela, sem distorcer */
  background-position: center;    /* centraliza a imagem */
  background-attachment: fixed;   /* fixa o fundo (não rola com a página) */
  height: 100vh;                  /* garante altura total da tela */
  margin: 0;
}


a{
    image-orientation: from-image;
    color: azure;
}
/* 4 */
h1{
    color: azure;
    font-size: 50px;
    text-transform: uppercase;
}
/*5*/
p::first-letter{
    text-decoration: uppercase;
}

/*6*/
a:hover{
    
    text-decoration: none;
}

/*7*/
h1,
h2,
h3,
h4,
h5,
h6{
    
    text-align: center;
}

img{
    display: block;
    margin: 0 auto;
}